PORT=5000
MONGODB_URI=mongodb+srv://dhruvprojects:nAJX6ScQYgn2bKfJ@cluster0.b29yo7k.mongodb.net/corvet?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
NODE_ENV=development
CLIENT_URL=https://your-app.netlify.app
ADMIN_ID=Arun@567.com
ADMIN_PASS=Arun@567
CLOUDINARY_CLOUD_NAME=dh4yyt3ri
CLOUDINARY_API_KEY=896547924386859
CLOUDINARY_API_SECRET=pfuk2Z3kpPSpGKVDG0Q3jdOqQzY
